body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(59, 59, 59);
}
.header {
    background-color: black;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    padding: 0 1em;
    align-items: center;
}
.logo {
    width: 2em;
    height: 2em;
    margin-right: 0.3rem;
}
.logoPhrase {
    color: cyan;
    font-size: 1.5em;
}
.fullLogo {
    display: flex;
    align-items: center;
}
.leftText {
    color: white;
    font-size: 0.9em;
}



.footer {
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 1em 0.5em;
    background-color: gray;
}